<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Spine.js • TodoMVC</title>
  <link rel="stylesheet" href="stylesheets/base.css">
  <!--[if IE]>
  <script src="javascripts/vendor/ie.js"></script>
  <![endif]-->
</head>
<body>
  <section id="todoapp">
    <header id="header">
      <h1>todos</h1>
      <input id="new-todo" placeholder="What needs to be done?" autofocus>
    </header>
    <section id="main">
      <input id="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      <ul id="todo-list"></ul>
    </section>
    <footer id="footer">
      <span id="todo-count"><strong>0</strong> items left</span>
      <ul id="filters">
        <li>
          <a class="selected" href="#/">All</a>
        </li>
        <li>
          <a href="#/active">Active</a>
        </li>
        <li>
          <a href="#/completed">Completed</a>
        </li>
      </ul>
      <button id="clear-completed">Clear completed</button>
    </footer>
  </section>
  <footer id="info">
    <p>Double-click to edit a todo</p>
    <p>Inspired by the official <a href="https://github.com/maccman/spine.todos">Spine.Todos</a></p>
    <p>Created by <a href="http://github.com/sindresorhus">Sindre Sorhus</a></p>
  </footer>
  <script src="javascripts/app.js"></script>
</body>
</html>